<div class="">
    <h1 style="margin-left: 5px;">Team </h1>



    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 m-0">
        <div class="col">
            <div class="containers">

                <div class="card">
            
                    <div class="slide slide1">
            
                        <div class="content">
            
                            <div class="icon">
            
                                <img class="img" src="../../../assets/Images/team-member-1-removebg-preview.png" alt="">
            
                            </div>
            
                        </div>
            
                    </div>
            
                    <div class="slide slide2">
            
                        <div class="content">
            
                            <h3>
            
                                Hello there!
            
                            </h3>
            
                            <p>Trust yourself and keep going.</p>
            
                        </div>
            
                    </div>
            
                </div>
            
                
            
            </div>
        </div>
        <div class="col">
            <div class="containers">

                <div class="card">
            
                    <div class="slide slide1">
            
                        <div class="content">
            
                            <div class="icon">
            
                                <img class="img" src="../../../assets/Images/team-member-1-removebg-preview.png" alt="">
            
                            </div>
            
                        </div>
            
                    </div>
            
                    <div class="slide slide2">
            
                        <div class="content">
            
                            <h3>
            
                                Hello there!
            
                            </h3>
            
                            <p>Trust yourself and keep going.</p>
            
                        </div>
            
                    </div>
            
                </div>
            
                
            
            </div>
        </div>
        <div class="col">
            <div class="containers">

                <div class="card">
            
                    <div class="slide slide1">
            
                        <div class="content">
            
                            <div class="icon">
            
                                <img class="img" src="../../../assets/Images/team-member-1-removebg-preview.png" alt="">
            
                            </div>
            
                        </div>
            
                    </div>
            
                    <div class="slide slide2">
            
                        <div class="content">
            
                            <h3>
            
                                Hello there!
            
                            </h3>
            
                            <p>Trust yourself and keep going.</p>
            
                        </div>
            
                    </div>
            
                </div>
            
                
            
            </div>
        </div>
        <div class="col">
            <div class="containers">

                <div class="card">
            
                    <div class="slide slide1">
            
                        <div class="content">
            
                            <div class="icon">
            
                                <img class="img" src="../../../assets/Images/team2-removebg-preview.png" alt="">
            
                            </div>
            
                        </div>
            
                    </div>
            
                    <div class="slide slide2">
            
                        <div class="content">
            
                            <h3>
            
                                Hello there!
            
                            </h3>
            
                            <p>Trust yourself and keep going.</p>
            
                        </div>
            
                    </div>
            
                </div>
            
                
            
            </div>
        </div>
    </div>

</div>

<!-- 
<div class="container">

       

    <div class="card">

        <div class="slide slide1">

            <div class="content">

                <div class="icon">

                    <i class="fa fa-user-circle" aria-hidden="true"></i>

                </div>

            </div>

        </div>

        <div class="slide slide2">

            <div class="content">

                <h3>

                    Hello there!

                </h3>

                <p>Trust yourself and keep going.</p>

            </div>

        </div>

    </div>

    

</div> -->
