.max {

    color: #073B3A;
    background-color: #93DC5C;

}

.max-width {
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 20px;
    color: #073B3A;
    overflow-y: auto;
    padding-bottom: 5rem;
}

ul {
    list-style: none;
    line-height: 30px;
    word-spacing: 3px;
    text-align: justify;
}
img{
    width: 100%;
    border: 1px solid rgb(180, 172, 172);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 6px;
}

.gap{
    padding-top: 20px;
}