<!-- <div style="padding: 15px;">
    <div>
        <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($event)">
            <div class="text-wrapper">
                <div class="centered">
                    <input type="file" name="file" id="file" (change)="onFileChange($event)" multiple>
                    <label for="file"><span class="textLink">Select your file</span> or Drop it here!</label>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h3 mat-subheader>Files</h3>
    <div class="row fileItem" *ngFor="let f of uploadedFiles; let ind = index">
        <div class="col-sm-12 fileItemIconDiv" (click)="openConfirmDialog(ind)">
            <img class="fileItemIcon" src="../../assets/icons/document.png" alt="file">
        </div>
        <div class="col-sm-12 fileItemText">
            <span>{{ f.name }}</span>
        </div>
    </div>

</div> -->
<!-- New Upload -->
<div class="userDetails">
    <div class="row">
        <div class="col-4">
           UserName: <span class="details">{{userName}}</span> 
        </div>

        <div class="col-4">
           Email: <span class="details">{{emailId}}</span>
        </div>

        <div class="col-4">
           Phone Number: <span class="details">{{phoneNo}}</span> 
        </div>
    </div>
</div>
<div *ngIf="isLoading" class="loader-overlay">
    <div class="textWrapper">
        <p class="text">Loading...</p>
        <div class="invertbox"></div>
    </div>
</div>

<form [formGroup]="fileForm">
    <div style="max-width: 1320px; margin: 20px auto;">
        <p><label for="w3review">Methodology: </label></p>
        <textarea formControlName="message" id="w3review" name="w3review" rows="4" cols="60"> </textarea>
    </div>
</form>
<div class="container">
    <h3>File Upload</h3>

    <div class="drag-drop-area" (dragover)="onDragOver($event)" (drop)="onDrop($event)" (dragleave)="onDragLeave()"
        [class.drag-over]="isDragOver" (click)="fileInput.click()">
        <p>Drag files here or click the button to upload</p>
    </div>
    <!-- <div style="display: flex;justify-content: center;">
        <button class="btn btn-primary" (click)="fileInput.click()">
            <i class="bi bi-cloud-upload"></i> Click to Upload
        </button>
    </div> -->
    <div style="display: flex;justify-content: center;">
        <button (click)="fileInput.click()" class="container-btn-file">
            <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 50 50">
                <path d="M28.8125 .03125L.8125 5.34375C.339844 
    5.433594 0 5.863281 0 6.34375L0 43.65625C0 
    44.136719 .339844 44.566406 .8125 44.65625L28.8125 
    49.96875C28.875 49.980469 28.9375 50 29 50C29.230469 
    50 29.445313 49.929688 29.625 49.78125C29.855469 49.589844 
    30 49.296875 30 49L30 1C30 .703125 29.855469 .410156 29.625 
    .21875C29.394531 .0273438 29.105469 -.0234375 28.8125 .03125ZM32 
    6L32 13L34 13L34 15L32 15L32 20L34 20L34 22L32 22L32 27L34 27L34 
    29L32 29L32 35L34 35L34 37L32 37L32 44L47 44C48.101563 44 49 
    43.101563 49 42L49 8C49 6.898438 48.101563 6 47 6ZM36 13L44 
    13L44 15L36 15ZM6.6875 15.6875L11.8125 15.6875L14.5 21.28125C14.710938 
    21.722656 14.898438 22.265625 15.0625 22.875L15.09375 22.875C15.199219 
    22.511719 15.402344 21.941406 15.6875 21.21875L18.65625 15.6875L23.34375 
    15.6875L17.75 24.9375L23.5 34.375L18.53125 34.375L15.28125 
    28.28125C15.160156 28.054688 15.035156 27.636719 14.90625 
    27.03125L14.875 27.03125C14.8125 27.316406 14.664063 27.761719 
    14.4375 28.34375L11.1875 34.375L6.1875 34.375L12.15625 25.03125ZM36 
    20L44 20L44 22L36 22ZM36 27L44 27L44 29L36 29ZM36 35L44 35L44 37L36 37Z"></path>
            </svg>
            Click to Upload
        </button>
    </div>

    <input #fileInput type="file" (change)="onFileSelected($event)" multiple hidden>

    <!-- <ul *ngIf="files1.length > 0" class="mt-3">
        <li *ngFor="let file of files1">{{ file.name }}</li>
    </ul> -->

    <!-- Upload Button -->
    <button class="btn btn-success mt-3" (click)="uploadFiles()" [disabled]="files1.length === 0">
        Upload
    </button>

    <!-- Uploaded Files List -->
    <div *ngIf="uploadedFiles.length > 0" class="mt-4">
        <h5>Uploaded Files:</h5>
        <ul class="list-group">
            <li *ngFor="let file of uploadedFiles"
                class="list-group-item d-flex justify-content-between align-items-center">
                <span class="file-name">{{ file.name }}</span>
                <span class="file-icon">
                    <i class="bi bi-file-earmark"></i>
                </span>
            </li>
        </ul>
    </div>
</div>

<div class="filesupload">
    <div class="row">
        <div class="col-2" *ngFor="let file of files1; let ind = index">
            <div class="fileItem1">
                <div style="text-align: end; cursor: pointer;">
                    <img (click)="openConfirmDialog(ind)" style="width: 30px;" src="../../assets/icons/x-button.png"
                        alt="cancel">
                </div>
                <div (mouseover)="over(ind)" (mouseleave)="leave(ind)" class="col-sm-12 fileItemIconDiv">
                    <img style="width: 100px;" class="fileItemIcon" src="../../assets/icons/document.png" alt="file">
                    <!-- <img *ngIf="cancel[ind]" style="width: 50px;" src="../../assets/icons/x-button.png" alt="cancel">  *ngIf="!cancel[ind]"-->
                </div>
                <div class="col-sm-12 fileItemText">
                    <span class="truncate-text">{{ file.file.name }}</span>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- <input type="file" id="file" (change)="onFileChange($event)" required> -->