<div class="home">
  <div class="grid-cls">
    <h1 style="color: #073B3A;">{{this.category_Value}}</h1>
    <div class="mt-4">
      <form action="" [formGroup]="peptide_Form" (ngSubmit)="getAnotherData()">
        <div class="input-group">
          <select [ngClass]="{'form-select1': category_Value == 'Peptide sequence',
                    'form-select2': category_Value == 'Peptide modification',
                    'form-select3': category_Value == 'Peptide Length',
                    'form-select4': category_Value == 'Peptide Mass'}" formControlName="categ_pep"
            (change)="Select_Category($event)" class="form-select" aria-label="Select option">
            <option disabled value="0">Category</option>
            <option *ngFor="let item of category; let i = index" [value]="item">{{item}}</option>
          </select>

          <!-- Search Input -->
          <input formControlName="search_pep" type="text" class="form-control" placeholder="Search..."
            aria-label="Search" />

          <!-- Search Button with Icon -->
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2"> <img class="icons"
              src="../../../assets/icons/magnifier.png" alt=""></button>

        </div>
      </form>
    </div>

  </div>
</div>

<div class="w-full">
  <div class="table-container">
    <!-- Loader Overlay -->
    <div *ngIf="isLoading" class="loader-overlay">
      <div class="textWrapper">
        <p class="text">Loading...</p>
        <div class="invertbox"></div>
      </div>
    </div>

    <!-- Table -->
    <section class="example-container mat-elevation-z8" tabindex="0" [class.fade]="isLoading">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Columns -->
        <ng-container matColumnDef="accession">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Accession </th>
          <td mat-cell *matCellDef="let element"> {{element.accession}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Score</th>
          <td mat-cell *matCellDef="let element"> {{element.score}} </td>
        </ng-container>

        <ng-container matColumnDef="variety">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Variety</th>
          <td mat-cell *matCellDef="let element"> {{element.variety}} </td>
        </ng-container>

        <ng-container matColumnDef="peptidelength">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Peptide Length</th>
          <td mat-cell *matCellDef="let element">{{element.peptideSeqLength}} </td>
        </ng-container>

        <ng-container matColumnDef="avgMass">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Avg Mass</th>
          <td mat-cell *matCellDef="let element"> {{element.avgMass}} </td>
        </ng-container>

        <ng-container matColumnDef="peptideModification">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Peptide Modification</th>
          <td mat-cell *matCellDef="let element"> {{element.peptideModification}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element">
            <img (click)="goToValue(element)" style="width: 30px; cursor: pointer;" src="../../../assets/icons/next.png" alt="">
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-sm text-center" colspan="8">No Record Found</td>
        </tr>
      </table>
    </section>

    <mat-paginator class="pagination" [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
