<div class="containers">
    <!-- col-md-12 col-lg-4 col-sm-6 col-12 -->
    <div class="row">
        <div class="wrapper ">
            <div class="user-card">
                <div class="user-card-img">
                    <img src="../../assets/Images/team/umadevi.png" alt="">
                </div>
                <div class="user-card-info">
                    <h2>Dr. P.Umadevi</h2>
                    <!-- <p><span>Email:</span> exampleexample.com</p> -->
                    <p> Senior Scientist</p>
                    <p>IARI-Rice
                        Breeding &amp; Genetics Research Center.</p>
                    <p> Aduthurai, Tamil Nadu</p>

                </div>
            </div>
        </div>

        <div class="wrapper ">
            <div class="user-card">
                <div class="user-card-img">
                    <img src="../../assets/Images/team/Screenshot 2025-01-13 232327.png" alt="">
                </div>
                <div class="user-card-info">
                    <h2>Dr. A.K. Singh </h2>
                    <!-- <p><span>Email:</span> exampleexample.com</p> -->
                    <!-- <p> Palestine, Gaza Strip</p> -->
                    <p>Former Director</p>
                    <p> ICAR-IARI - Rice Breeding & Genetics Research Center, New Delhi.</p>
                </div>
            </div>
        </div>

        <div class="wrapper ">
            <div class="user-card">
                <div class="user-card-img">
                    <img src="../../assets/Images/team/gopal.png" alt="">
                </div>
                <div class="user-card-info">
                    <h2>Dr. S. Gopala Krishnan</h2>
                    <!-- <p><span>Email:</span> exampleexample.com</p> -->
                    <!-- <p> Palestine, Gaza Strip</p> -->
                    <p>Principal Scientist</p>
                    <p> ICAR-IARI - Rice Breeding & Genetics Research Center, New Delhi.</p>
                </div>
            </div>
        </div>



        <div class="wrapper ">
            <div class="user-card">
                <div class="user-card-img">
                    <img src="../../assets/Images/team/ranjith.png" alt="">
                </div>
                <div class="user-card-info">
                    <h2>Dr. Ranjith K Ellur</h2>
                    <!-- <p><span>Email:</span> exampleexample.com</p> -->
                    <!-- <p> Palestine, Gaza Strip</p> -->
                    <p>Scientist</p>
                    <p> ICAR-IARI - Rice Breeding & Genetics Research Center, New Delhi.</p>
                </div>
            </div>
        </div>

        <div class="wrapper ">
            <div class="user-card">
                <div class="user-card-img">
                    <img src="../../assets/Images/team/Nagarajan.png" alt="">
                </div>
                <div class="user-card-info">
                    <h2>Dr.M. Nagarajan</h2>
                    <!-- <p><span>Email:</span> exampleexample.com</p> -->
                    <!-- <p> Palestine, Gaza Strip</p> -->
                    <p>Principal Scientist</p>
                    <p> IARI - Rice Breeding & Genetics Research Center, Aduthurai, Tamilnadu.</p>
                </div>
            </div>
        </div>

        <div class="wrapper ">
            <div class="user-card">
                <div class="user-card-img">
                    <img src="../../assets/Images/team/vinod.png" alt="">
                </div>
                <div class="user-card-info">
                    <h2>Dr. K.K. Vinod</h2>
                    <!-- <p><span>Email:</span> exampleexample.com</p> -->
                    <!-- <p> Palestine, Gaza Strip</p> -->
                    <p>Principal Scientist</p>
                    <p> ICAR-IARI, New Delhi.</p>
                </div>
            </div>
        </div>

        <!-- <div class="wrapper ">
            <div class="user-card">
                <div class="user-card-img">
                    <img src="../../assets/Images/team/Viswanathan,.png" alt="">
                </div>
                <div class="user-card-info">
                    <h2>Dr. C. Viswanathan,</h2>
                    <p>JD (Research)</p>
                    <p> ICAR-IARI, New Delhi.</p>
                </div>
            </div>
        </div> -->
    </div>


    <!-- <div class="row">

        <footer class="clr text-center text-lg-start">

            <div class="text-center p-3 foot" style="background-color: rgba(0, 0, 0, 0.05); color: #073B3A;">
                © 2025 Copyright:
                <a class="">BasmaPep</a>
            </div>

        </footer>
    </div> -->

</div>

<footer class="clr text-center text-lg-start">

    <div class="text-center p-3 foot" style="background-color: rgba(0, 0, 0, 0.05); color: #073B3A;">
        © 2025 Copyright:
        <a class="">BasmaPep</a>
    </div>

</footer>