<!-- <app-navbar></app-navbar> -->


<!-- <div class="home">
    <div class="grid-cls">
        <div class="containers">
            <div>
                <h1 class="type anih1" style="padding-bottom: 20px;">Find Rice Peptide</h1>
            </div>
        </div>

        <form action="" [formGroup]="peptform">

            <div class="mt-4">
                <div class="input-group">
                    <select [ngClass]="{'form-select1': category_Value == 'Peptide sequence',
                    'form-select2': category_Value == 'Peptide modification',
                    'form-select3': category_Value == 'Peptide Length',
                    'form-select4': category_Value == 'Peptide Mass'}" formControlName="category_val"
                        (change)="Select_Category($event)" class="form-select" aria-label="Select option">
                        <option disabled value="0">Category</option>
                        <option *ngFor="let item of category; let i = index" [value]="item">{{item}}</option>
                    </select>

                    <input formControlName="search" type="text" class="form-control" placeholder="Search..."
                        aria-label="Search" />

                    <button (click)="gotopeptide()" class="btn btn-outline-secondary" type="button" id="button-addon2">
                        <img class="icons" src="../../../assets/icons/magnifier.png" alt="">
                    </button>

                </div>
            </div>



        </form>
        <div style="padding-top: 8px; color: #073B3A;">
            Examples for search: Glutelin, Carbamidomethyl, Q0JJ36, PEP.SEQ = CGHHUYDAS, Score >= 20
        </div>
    </div>

</div> -->
<div class="parallax">
    <h1 class="scroll-text" [ngClass]="{
        'initial': isInitial,
        'left-to-center': !isInitial && scrollDirection === 'up',
        'right-to-left': scrollDirection === 'down'
      }">
      <!-- Welcome to BasmaPep Database <br>  -->
        <img style="border-radius: 20px; width: 60%;"
            src="../../../assets/Images/logo/oie_KRi9rjRE9O1V.jpg" alt="">
    </h1>
</div>
<article style="padding-bottom: 100px;">
    <h1 style="text-align: center;">Welcome to BasmaPep Database</h1>
    <p class="paragraph">BasmaPep-The Basmati rice peptide database is developed using experimentally derived
        peptides from the mass spectrometry analysis of Indian Basmati rice seed proteome. The
        peptides with more than 7 amino acids are presented in the database. It has <strong>164373</strong> number of
        peptides the <strong>protein identification
            score and Modification
            of 0 to 4255.809p.</strong> The search page allows for complex querying of peptides based on accession
        number, peptide length, peptide sequence, score, and modifications. BasmaPep database has
        inbuilt BLAST tool, MAP tool, PepCalc for identifying, mapping and analysing the
        physiochemical properties of the query peptide sequence. The enabled link to NCBI-BLAST
        will help researchers to locate their query sequence with the global datasets. The inbuilt link
        to Anti-microbial peptide database is another attraction for researchers. Apart from
        supporting the computational analysis, the login and data submission pages of BasmaPep
        ensures secure access and allow registered users to contribute new peptide data. This
        integrated approach allows researchers to explore, analyse, and share rice peptide data,
        supporting advancements in crop research and bioinformatics. This database will incorporate
        millions more curated peptides in future with its tissue specifications and significance by our
        team from our on-going and upcoming research in Basmati proteomics.
    </p>
</article>


<!-- <div style=" padding-top: 55px; padding-bottom: 55px;">
    <div class="grids block">
        <div class="bg-img">
            <div style="padding: 10px;">
                <div style="font-size: 1.5rem;" class="title">Proteins</div>
                <p class="sub" style="padding-top: 20px;">UniProt Knowledgebase</p>
                <div style="font-size: larger; padding-top: 20px;">
                    Cell division protein kinase 5
                </div>
            </div>
        </div>

        <div class="bg-img2">
            <div style="padding: 10px;">
                <div style="font-size: 1.5rem;" class="title">Species</div>
                <p class="sub" style="padding-top: 20px;">Proteomes</p>
                <div style="font-size: larger; padding-top: 20px;">
                    Protein sets for species with sequenced genomes from across the tree of life
                </div>
            </div>
        </div>

        <div class="bg-img3">
            <div style="padding: 10px;">
                <div style="font-size: 1.5rem;" class="title">Glutelin</div>
                <p class="sub" style="padding-top: 20px;">UniRef</p>
                <div style="font-size: larger; padding-top: 20px;">
                    Clusters of protein sequences at 100%, 90% & 50% identity
                </div>
            </div>
        </div>

        <div class="bg-img4">
            <div style="padding: 10px;">
                <div style="font-size: 1.5rem;" class="title">Carbamidomethyl</div>
                <p class="sub" style="padding-top: 20px;">UniParc</p>
                <div style="font-size: larger; padding-top: 20px;">
                    Non-redundant archive of publicly available protein sequences seen across different databases
                </div>
            </div>
        </div>
    </div>

</div> -->



<section style="max-width: 110rem; margin: 0 auto; padding-bottom: 100px;">
    <div class="row">
        <!-- gridchart -->
        <div class=" chartCard col-lg-6 col-12">
            <div id="chart">
                <h2>Peptide Indentification Score</h2>

                <apx-chart [series]="chartOptionScore.series" [chart]="chartOptionScore.chart"
                    [labels]="chartOptionScore.labels" [responsive]="chartOptionScore.responsive"></apx-chart>
            </div>

        </div>

        <div class=" chartCard col-lg-6 col-12">
            <div id="chart">
                <h2>Peptide Sequence Length</h2>
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
                    [responsive]="chartOptions.responsive"></apx-chart>
            </div>

        </div>
    </div>

</section>

<!-- <section style="max-width: 110rem; margin: 0 auto; padding-bottom: 100px;">
    <div style="width: 100%;">
        <div class="chartCard">
            <apx-chart
              [series]="chartOptions1.series"
              [chart]="chartOptions1.chart"
              [dataLabels]="chartOptions1.dataLabels"
              [plotOptions]="chartOptions1.plotOptions"
              [xaxis]="chartOptions1.xaxis"
            ></apx-chart>
          </div>
          
    </div>
</section> -->


<!-- <div class="w-full" style="text-align: center;">
    <h1 style="padding: 30px;">
        <svg xmlns="http://www.w3.org/2000/svg" style="width: 40px;" viewBox="0 0 512 512">
            <path
                d="M176 88l0 40 160 0 0-40c0-4.4-3.6-8-8-8L184 80c-4.4 0-8 3.6-8 8zm-48 40l0-40c0-30.9 25.1-56 56-56l144 0c30.9 0 56 25.1 56 56l0 40 28.1 0c12.7 0 24.9 5.1 33.9 14.1l51.9 51.9c9 9 14.1 21.2 14.1 33.9l0 92.1-128 0 0-32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 32-128 0 0-32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 32L0 320l0-92.1c0-12.7 5.1-24.9 14.1-33.9l51.9-51.9c9-9 21.2-14.1 33.9-14.1l28.1 0zM0 416l0-64 128 0c0 17.7 14.3 32 32 32s32-14.3 32-32l128 0c0 17.7 14.3 32 32 32s32-14.3 32-32l128 0 0 64c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64z" />
        </svg>
        Analysis Tools
    </h1>

    <div class="blockright row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
        <div class="col" (click)="goToBasmaLast()">
            <div class="container cardnewblast">
                <div class="items head none">
                    <p class="title">Blast</p>
                </div>
                <div class="overlay">
                    <div class="items"></div>
                    <div class="items headTools">
                        <p style="text-align: start;">Blast</p>
                        <hr>
                    </div>
                    <div class="items price">
                        <p class="old">Blast your target sequence against BasmaPepDB</p>
                    </div>

                </div>
            </div>
        </div>

        <div (click)="pepCalTool()" class="col">
            <div class="container cardnewlustration">
                <div class="items head none">
                    <p class="title">PepCal</p>
                    <hr>
                </div>
                <div class="overlay">
                    <div class="items"></div>
                    <div class="items headTools">
                        <p style="text-align: start;">PepCal</p>
                        <hr>
                    </div>
                    <div class="items price">
                        <small class="old">Analyze your Peptide properties target sequence against BasmaPepDB.</small>
                    </div>

                </div>
            </div>
        </div>

        <div class="col" (click)="navigateTo('https://aps.unmc.edu/prediction')">
            <div class="container cardnewid">
                <div class="items head none">
                    <p style="text-align: start;" class="title">APD3</p>
                    <hr>
                </div>
                <div class="overlay">
                    <div class="items"></div>
                    <div class="items headTools">
                        <p style="text-align: start;">APD3</p>
                        <hr>
                    </div>
                    <div class="items price">
                        <small class="old">Analyze your Peptide properties against Antimicrobial PeptideDatabase
                            (AMP)</small>
                    </div>

                </div>
            </div>
        </div>

        <div class="col mb-4" (click)="navigateTo('https://camp4.bicnirrh.res.in/predict/')">
            <div class="container cardnewpep">
                <div class="items head none">
                    <p class="title" style="color: black;">CAMPR3</p>
                    <hr>
                </div>
                <div class="overlay">
                    <div class="items"></div>
                    <div class="items headTools">
                        <p style="text-align: start;">CAMPR3</p>
                        <hr>
                    </div>
                    <div class="items price">
                        <small class="old">Predict your Peptide properties using CAMPR4 Database with RF,SVM and
                            ANN.</small>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div> -->